@import "../index.scss";

@font-face {
  font-family: "Njord";
  src: url("./fonts/Njord-Alternate.otf");
}

header {
  position: fixed;
  top: 0;
  z-index: 9000;
}

.navbar {
  background: $bl;
  width: 100vw;
  box-shadow: $shadow;
  a {
    color: rgba($wh, 0.8);
    transition: $transition;
    &:hover {
      color: $wh;
    }
  }
  .navbar-brand {
    font-family: "Njord", cursive;
    &:hover svg {
      stroke: $main-color;
    }
    svg {
      transition: $transition;
    }
  }
  .navbar-collapse ul a {
    text-decoration: none;
  }
}
