@import "../index.scss";

@font-face {
  font-family: "Njord";
  src: url("./fonts/Njord-Alternate.otf");
}

header {
  position: fixed;
  top: 0;
  z-index: 9000;
}

.navbar {
  background: $bl;
  width: 100vw;
  box-shadow: $shadow;
  a {
    font-family: "Njord regular", cursive;
    letter-spacing: 2px;
    &:hover svg {
      stroke: $main-color;
    }
    &:hover:not(.dropdown-toggle) svg {
      animation: $transition rotate;
    }
    @keyframes rotate {
      to {
        transform: rotate(360deg);
      }
    }
  }
  .navbar-brand {
    font-family: "Njord";
  }

  .navbar-collapse ul a,
  .navbar-brand {
    text-decoration: none;
    color: rgba($wh, 0.8);
    &:hover {
      color: $wh;
    }
  }
}

.navbar-nav
  li.dropdown.show.nav-item
  div.dropdown-menu.dropdown-menu-right.show,
.dropdown-menu .dropdown-item:hover {
  background: $bl;
}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: $main-color;
  height: 10px;
  transition-property: right;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}
