body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$main-color: #ff4880;
$secondary-color: goldenrod;
$third-color: #f8d5c7;
$wh: #fbf4f1;
$bl: #222;
$transition: 0.2s;
$shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.4);

.centered {
  justify-content: center;
  align-items: center;
}
