body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$main-color: #ff4880;
$secondary-color: #240044;
$third-color: #f8d5c7;
$wh: #fbf4f1;
$bl: #222;
$transition: 0.2s;
$shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.4);

.centered {
  justify-content: center;
  align-items: center;
}

img {
  filter: saturate(0) contrast(1.3);
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba($secondary-color, 0.3);
}
